.nMissao-section{
    padding-top:10rem;

background-color: #fff;
}
.nMissao-section p{
    margin-bottom:5rem;
}

/* depoimentos section*/
.depo-section{
    padding-top:15rem;
    padding-bottom:15rem;
 

background:url(../img/bg_depoimentos.jpg);
}


.depo-section p{
    margin-bottom:5rem;
}
.dep1{
    background-color: #fff;
}
.dep2{
    background-color: #fff;
}
.dep3{
    background-color: #fff;
}
/* about*/
.about-section{
    background:url(../img/bg_quem_somos.jpg);
}
/*contato section */
.signup-section{
    padding:10rem 0;
   
    background-color: #686868;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-size:cover
}
.signup-section .form-inline input{
    -webkit-box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    box-shadow:0 .1875rem .1875rem 0 rgba(0,0,0,.1)!important;
    padding:1.25rem 2rem;
    height:auto;
    font-family:'Varela Round';
    font-size:80%;
    text-transform:uppercase;
    letter-spacing:.15rem;
    border:0
}
.navbar-nav{
    margin: 0 auto !important;
}


footer{padding:1rem 0}