header {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
    height: calc(var(--header-height) - calc(var(--gap) * 2));
    padding: var(--gap);
    position: relative;
    z-index: 2;
}