@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-regular);
}

h1, h2, h3, h4 {
    font-family: var(--font-secondary);
    font-weight: var(--font-black);
    line-height: normal;
}

h1 {
    font-size: var(--font-size-xxxx-large);
    font-weight: var(--font-black);
}

h2 {
    font-size: var(--font-size-x-large);
}

h3 {
    font-size: var(--font-size-large);
}

h4 {
    font-size: var(--font-size-regular);
}

.font-size-small {
    font-size: var(--font-size-small);
}
.font-size-x-small {
    font-size: var(--font-size-x-small);
}